# Okkapel ignores
lib
*.class
*.jar

# gradle
.gradle
build
gradle-app.setting
gradle.properties

# eclipse
.settings
.metadata
.classpath
.project
bin

# IntelliJ IDEA
/.idea
/*.iml
/*.ipr
/*.iws
/out
/atlassian-ide-plugin.xml
/repo/
